<div class="zone-context-menu-wrapper">
	<div class="header">{{zone_name}}</div>
	<div class="content">
		<ul class="zone-context-menu-container">
			<li class="zone-context-menu-item">
				<a href="javascript:;" class="zone-context-menu-btn" id="zone-context-style-settings">
					Styles<i class="fa fa-gear pull-right"></i> 
				</a>
			</li>
		</ul>		
	</div>
</div>