<div class="setting-body">
    <div class="toolbar">
        <a class="page-setting-page-duplicate btn btn-primary" href="javascript:;"><span class="icon-copy-file"></span> Duplicate</a>
        <a class="page-setting-page-delete btn btn-danger" href="javascript:;"><span class="icon-trash"></span> Delete</a>
    </div>
    <div class="setting-body-input-group">
        <label for="title">Page Title</label>
        <input type="text" id="title" class="input-box" value="{{title}}">

        <label for="title">Page Address</label>
        <input type="text" id="slug" class="input-box" value="{{slug}}">

        <div class="checkbox">
            <label>
                <input type="checkbox" id="is_homepage" {{#is_homepage}} checked="true" {{/is_homepage}}> Set as Home Page
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" id="hide_from_menu" {{#hide_from_menu}} checked="true" {{/hide_from_menu}}> Hide From Menu
            </label>
        </div>
    </div>

    <div class="setting-body-input-group">
        <legend>Seo Page Setting</legend>
        <p class="setting-group-description">
            Search engine optimization (SEO) is the process of affecting the visibility of a website or a web page in a search engine's "natural" or un-paid ("organic") search results.
        </p>
        <label for="meta_title">Meta Title</label>
        <input type="text" class="input-box" id="meta_title" value="{{meta_title}}">

        <label for="meta_description">Description</label>
        <input type="text" class="input-box" id="meta_description" value="{{meta_description}}">

        <label for="meta_keywords">Keywords</label>
        <input type="text" class="input-box" id="meta_keywords" value="{{meta_keywords}}">
    </div>

    <div class="setting-body-input-group">
        <a href="javascript:;" class="btn btn-primary design-setting-background-setting-btn" id="design-setting-background-setting-btn">Customize Background</a>
       <!--  <legend>Customize Page Background</legend>
        <p class="setting-group-description">
            Upload an image, adjust its settings and choose your background color.
        </p>
        <div class="page-setting-background-image-wrapper">
            <div class="page-setting-background-image-thumbnail-container">
                <img class="page-setting-background-image-thumbnail {{^background_image}} color_transparent {{/background_image}}" {{#background_image}} src="{{background_image}}" {{/background_image}}>
            </div>
            <div class="page-setting-background-image-buttom-container">
                <a href="javascript:;" class="btn btn-primary page-setting-background-image-change">Change Image</a>
                <a href="javascript:;" class="btn btn-danger page-setting-background-image-remove">Remove Image</a>
                <input type="hidden" value="{{background_image}}">
            </div>
        </div> -->
    </div>
    <!-- <div class="setting-body-input-group">
        <div class="page-setting-background-image-scaling-wrapper">
            
            <label for="image_scaling">Image Scaling</label>
            <div>
                <input type="radio" class="image_scaling" name="image_scaling" value="full_screen"> Full Screen
            </div>
            <div>
                <input type="radio" class="image_scaling" name="image_scaling" value="fit"> Fit
            </div>
            <div>
                <input type="radio" class="image_scaling" name="image_scaling" value="tile"> Tile
            </div>
            <div>
                <input type="radio" class="image_scaling" name="image_scaling" value="tile_vertically"> Tile Vertically
            </div>
            <div>
                <input type="radio" class="image_scaling" name="image_scaling" value="tile_horizontally"> Tile Horizontally
            </div>
            <div>
                <input type="radio" class="image_scaling" name="image_scaling" value="normal"> Normal
            </div>
        </div>
        <div class="page-setting-background-image-position-wrapper">
            <label for="image_position">Position</label>
            <div>
                <div>
                    <input type="radio" class="image_position" name="image_position" value="top_left"> Top Left
                </div>
                <div>
                    <input type="radio" class="image_position" name="image_position" value="top_center"> Top Center
                </div>
                <div>
                    <input type="radio" class="image_position" name="image_position" value="top_right"> Top Right
                </div>
                <div>
                    <input type="radio" class="image_position" name="image_position" value="middle_right"> Middle Right
                </div>
                <div>
                    <input type="radio" class="image_position" name="image_position" value="middle_center"> Middle Center
                </div>
                <div>
                    <input type="radio" class="image_position" name="image_position" value="middle_left"> Middle Left
                </div>
                <div>
                    <input type="radio" class="image_position" name="image_position" value="bottom_right"> Bottom Right
                </div>
                <div>
                    <input type="radio" class="image_position" name="image_position" value="bottom_center"> Bottom Center
                </div>
                <div>
                    <input type="radio" class="image_position" name="image_position" value="bottom_left"> Bottom Left
                </div>
            </div>
        </div>
    </div>
    <div class="setting-body-input-group">
        <div class="page-setting-background-attachment-wrapper">
            <input type="checkbox" class="page-setting-background-attachment"> Scroll background with site
        </div>
    </div>
    <div class="setting-body-input-group">
        <div class="page-setting-background-color-wrapper">
            <div class="page-setting-background-color-thumbnail-container">
                <label>Change Color</label>
                <span class="page-setting-background-color-thumbnail bg_{{background_color}}"></span>
            </div>
        </div>
    </div>
    <div class="setting-body-input-group">
        <div class="page-setting-page-delete-wrapper">
            <a class="page-setting-page-delete" href="javascript:;" class="btn btn-danger">Delete Page</a>
        </div>
    </div> -->
</div>
