<div class="page-zone-guide-line-horizontal page-zone-guide-line-horizontal-left fix-height-node" style="display: none;"></div>
<div class="page-zone-guide-line-vertical page-zone-guide-line-vertical-top fix-width-node" style="display: none;"></div>
<div class="page-zone-border-container"></div>
<div class="page-zone-horizontal-resize-handle"><i class="fa fa-angle-down"></i></div>
<div class="page-zone-vertical-resize-handle"><i class="fa fa-angle-right"></i></div>
<div class="page-zone-drag-handle"><i class="fa fa-angle-double-down"></i></div>
<div class="page-zone-guide-line-horizontal page-zone-guide-line-horizontal-right fix-height-node" style="display: none;"></div>
<div class="page-zone-guide-line-vertical page-zone-guide-line-vertical-bottom fix-width-node" style="display: none;"></div>