{{! Default settings contains default settings for a widget }}
<div class="setting-body">
    <div class="setting-body-input-group">
    	<legend>Colors</legend>
        <div class="zone-setting-background-color-wrapper">
            <div class="zone-setting-color-thumbnail-container zone-setting-background-color-thumbnail-container">
                <label>Background</label>
                <span class="zone-setting-color-thumbnail zone-setting-background-color-thumbnail {{zone_background_color}}"></span>
            </div>
        </div>
        <div class="zone-setting-background-center-color-wrapper">
            <div class="zone-setting-color-thumbnail-container zone-setting-background-center-color-thumbnail-container">
                <label>Background Center</label>
                <span class="zone-setting-color-thumbnail zone-setting-background-center-color-thumbnail {{zone_background_center_color}}"></span>
            </div>
        </div>
        <div class="zone-setting-border-color-wrapper">
            <div class="zone-setting-color-thumbnail-container zone-setting-border-color-thumbnail-container">
                <label>Border</label>
                <span class="zone-setting-color-thumbnail zone-setting-border-color-thumbnail {{zone_border_color}}"></span>
            </div>
        </div>
    </div>
    <div class="setting-body-input-group">
        <div class="zone-setting-border-style-wrapper">
            <label for="zobe-border">Border Style</label>
            <select class="zone-setting-border-style-select">
                <option value="none" class="zone-setting-border-style" selected>none</option>
                <option value="hidden" class="zone-setting-border-style">hidden</option>
                <option value="dotted" class="zone-setting-border-style">dotted</option>
                <option value="dashed" class="zone-setting-border-style">dashed</option>
                <option value="solid" class="zone-setting-border-style">solid</option>
                <option value="double" class="zone-setting-border-style">double</option>
                <option value="groove" class="zone-setting-border-style">groove</option>
                <option value="ridge" class="zone-setting-border-style">ridge</option>
                <option value="inset" class="zone-setting-border-style">inset</option>
                <option value="outset" class="zone-setting-border-style">outset</option>
                <option value="initial" class="zone-setting-border-style">initial</option>
                <option value="inherit" class="zone-setting-border-style">inherit</option>
            </select>
        </div>
    </div>
    <div class="setting-body-input-group">
    	<legend>Corner Sizes</legend>
        <div class="zone-setting-border-radius-wrapper">
        	<div class="zone-setting-border-radius-element-wrapper zone-setting-border-radius-top-left-wrapper">
        		<div class="zone-setting-border-radius-container zone-setting-border-radius-top-left-container">
        			<input type="text" data-target="top-left" class="zone-setting-border-radius-top-left-input zone-setting-border-radius-input" value="{{zone_border_radius_top_left}}"> px
        			<span class="zone-setting-border-radius-top-left-thumbnail zone-setting-border-radius-thumbnail" style="border-top-left-radius: {{zone_border_radius_top_left}}px;border-top:3px solid #74777b;border-left:3px solid #74777b;"></span>
        		</div>
        	</div>
        	<div class="zone-setting-border-radius-element-wrapper zone-setting-border-radius-top-right-wrapper">
        		<div class="zone-setting-border-radius-container zone-setting-border-radius-top-right-container">
        			<span class="zone-setting-border-radius-top-right-thumbnail zone-setting-border-radius-thumbnail" style="border-top-right-radius: {{zone_border_radius_top_right}}px;border-top:3px solid #74777b;border-right:3px solid #74777b"></span>
        			<input type="text" data-target="top-right" class="zone-setting-border-radius-top-right-input zone-setting-border-radius-input" value="{{zone_border_radius_top_right}}"> px
        		</div>
        	</div>
        	<div class="zone-setting-border-radius-element-wrapper zone-setting-border-radius-bottom-left-wrapper">
        		<div class="zone-setting-border-radius-container zone-setting-border-radius-bottom-left-container">
        			<input type="text" data-target="bottom-left" class="zone-setting-border-radius-bottom-left-input zone-setting-border-radius-input" value="{{zone_border_radius_bottom_left}}"> px
        			<span class="zone-setting-border-radius-bottom-left-thumbnail zone-setting-border-radius-thumbnail" style="border-bottom-left-radius: {{zone_border_radius_bottom_left}}px;border-bottom:3px solid #74777b;border-left:3px solid #74777b"></span>
        		</div>
        	</div>
        	<div class="zone-setting-border-radius-element-wrapper zone-setting-border-radius-bottom-right-wrapper">
        		<div class="zone-setting-border-radius-container zone-setting-border-radius-bottom-right-container">
        			<span class="zone-setting-border-radius-bottom-right-thumbnail zone-setting-border-radius-thumbnail" style="border-bottom-right-radius: {{zone_border_radius_bottom_right}}px;border-bottom:3px solid #74777b;border-right:3px solid #74777b"></span>
        			<input type="text" data-target="bottom-right" class="zone-setting-border-radius-bottom-right-input zone-setting-border-radius-input" value="{{zone_border_radius_bottom_right}}"> px
        		</div>
        	</div>
        </div>
    </div>
    <div class="setting-body-input-group">
        <legend>Border Size:</legend>
        <div class="zone-setting-border-width-wrapper">
            <div class="zone-setting-border-width-element-wrapper zone-setting-border-width-top-left-wrapper">
                <div class="zone-setting-border-width-container zone-setting-border-width-top-container">
                    <input type="text" data-target="top" class="zone-setting-border-width-top-input zone-setting-border-width-input" value="{{zone_border_width_top}}"> px
                    <span class="zone-setting-border-width-top-thumbnail zone-setting-border-width-thumbnail" style="border-top-width: {{zone_border_radius_top}}px;border-top-style:solid;border-top-color:#74777b;"></span>
                </div>
            </div>
            <div class="zone-setting-border-width-element-wrapper zone-setting-border-radius-right-wrapper">
                <div class="zone-setting-border-width-container zone-setting-border-width-right-container">
                    <span class="zone-setting-border-width-right-thumbnail zone-setting-border-width-thumbnail" style="border-right-width: {{zone_border_radius_right}}px;border-right-style:solid;border-right-color:#74777b;"></span>
                    <input type="text" data-target="right" class="zone-setting-border-width-right-input zone-setting-border-width-input" value="{{zone_border_width_right}}"> px
                </div>
            </div>
            <div class="zone-setting-border-width-element-wrapper zone-setting-border-width-bottom-wrapper">
                <div class="zone-setting-border-width-container zone-setting-border-width-bottom-container">
                    <input type="text" data-target="bottom" class="zone-setting-border-width-bottom-input zone-setting-border-width-input" value="{{zone_border_width_bottom}}"> px
                    <span class="zone-setting-border-width-bottom-thumbnail zone-setting-border-width-thumbnail" style="border-bottom-width: {{zone_border_radius_bottom}}px;border-bottom-style:solid;border-bottom-color:#74777b;"></span>
                </div>
            </div>
            <div class="zone-setting-border-width-element-wrapper zone-setting-border-width-left-wrapper">
                <div class="zone-setting-border-width-container zone-setting-border-width-left-container">
                    <span class="zone-setting-border-width-left-thumbnail zone-setting-border-width-thumbnail" style="border-left-width: {{zone_border_radius_left}}px;border-left-style:solid;border-left-color:#74777b;"></span>
                    <input type="text" data-target="left" class="zone-setting-border-width-left-input zone-setting-border-width-input" value="{{zone_border_width_left}}"> px
                </div>
            </div>
        </div>
    </div>
</div>
