header {
	min-height: 100px;
	position: relative;
	width: 100%;
}
header.drop-active:before,
header.drop-target:before {
	content: 'header';
}
footer {
	min-height: 100px;
	position: relative;
	width: 100%;
}
footer.drop-active:before,
footer.drop-target:before {
	content: 'footer';
}

main {
	width: 100%;
}

article {
	min-height: 300px;
	position: relative;
}
article.drop-active:before,
article.drop-target:before {
	content: 'article';
}
aside {
	min-height: 300px;
	position: relative;
}
aside.drop-active:before,
aside.drop-target:before {
	content: 'aside';
}

.drop-active {
	background: yellow;
	opacity: 0.2;
}

.drop-active:before,
.drop-target:before {
	position: absolute;
	font-size: 11pt;
	font-style: italic;
	background: orange;
	top:0;
	left: 0;
}

.drop-target {
	background: blue;
	opacity: 0.2;
}

.zone-context-wrapper {;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	margin: 1em;
	min-width: 150px;
	z-index: 1500;
}

.zone-context-wrapper .header{
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 0.5em 1em;
	background: #66ccce;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 0.8em;
	border-bottom: 1px solid #e3e7e8;
	color: #FFF;
}

.zone-context-wrapper .zone-context-menu-container a{
	color: #777;
	display: block;
}
.zone-context-wrapper .zone-context-menu-container a:hover i{
	color: #66ccce;
}
.zone-context-menu-wrapper > {
	border-bottom: 1px solid #bbb;
}

.zone-context-menu-wrapper ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.zone-context-menu-wrapper ul li {
	padding: 0.3em 0.8em;
}

.zobe-bg-color span {
	border: 1px solid;
}

/*
	Zone control
*/
.page-zone-control {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.page-zone-vertical-resize-handle,
.page-zone-border-container,
.page-zone-drag-handle,
.page-zone-horizontal-resize-handle {
	display: none;
}

.zone-active .page-zone-border-container {
	border: 1px solid #ffd47e;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: block;
	z-index: 2;
}

.zone-active .page-zone-horizontal-resize-handle {
	display: inline;
	background: #ffd47e;
	border: 1px solid #A8791D;
	position: absolute;
	left: 50%;
	bottom: 3px;
	width: 15px;
	height: 15px;
	text-align: center;
	display: block;
	z-index: 2;
	color: #A8791D;
}

.zone-active.zone-vertical-resizeable .page-zone-vertical-resize-handle {
	display: inline;
	background: #ffd47e;
	border: 1px solid #A8791D;
	position: absolute;
	right: 3px;
	bottom: 50%;
	width: 15px;
	height: 15px;
	text-align: center;
	display: block;
	z-index: 2;
}

.zone-active .page-zone-drag-handle {
	display: inline;
	background: #ffd47e;
	border: 1px solid #A8791D;
	position: absolute;
	left: 50%;
	top: 3px;
	width: 15px;
	height: 15px;
	text-align: center;
	display: block;
	z-index: 2;
	color: #A8791D;
}

.page-zone-guide-line-horizontal {
	width: 1px;
	background: url(/editor/assets/images/grid_bg_h.png);
	position: absolute;
	z-index: 1;
	opacity: 1;
}

.page-zone-guide-line-horizontal-left {
	left: 0;
}

.page-zone-guide-line-horizontal-right {
	right: 0;
}

.page-zone-guide-line-vertical {
	height: 1px;
	background: url(/editor/assets/images/grid_bg_v.png);
	position: absolute;
	z-index: 1;
	opacity: 1;
}

.page-zone-guide-line-vertical-top {
	top: 0;
}

.page-zone-guide-line-vertical-bottom {
	bottom: 0;
}

/*
	Settings
*/
.page-setting-background-image-wrapper {
	width: 100%;
	overflow: hidden;
}

.page-setting-background-image-thumbnail-container,
.page-setting-background-image-buttom-container{
	float: left;
	width: 40%;
	text-align: center;
}

img.page-setting-background-image-thumbnail {
	width: 64px;
	height: 64px;
	border: 1px solid #e4e8e7;
	border-radius: 3px;
}

.page-setting-background-image-buttom-container > a.btn {	
	margin-top: 5px;
	width: 77px;
	display: block;
}


.page-setting-background-color-thumbnail-container label {
	width: 50%;
	float: left;
	margin-top: 15px;
}

.button-box{
	padding: 5px;
	overflow: hidden;
}
.button-box .btn{
	float: right;
}

/*
	zone style
*/
.zone-setting-color-thumbnail-container label {
	width: 50%;
	float: left;
	margin-top: 15px;
}
span.zone-setting-color-thumbnail {
	width: 64px;
	height: 32px;
	border: 1px solid #e2e6e7;
	display: block;
	float: left;
	margin-top: 10px;
	border-radius: 3px;
}

.zone-setting-border-radius-element-wrapper {
	width: 50%;
	float: left;
}

.zone-setting-border-radius-element-wrapper input {
	width: 30%;
}

.zone-setting-border-radius-element-wrapper span {
	display: inline-block;
	width: 30%;
	height: 16px;
}

.zone-setting-border-width-element-wrapper {
	width: 50%;
	float: left;
}

.zone-setting-border-width-element-wrapper input {
	width: 30%;
}

.zone-setting-border-width-element-wrapper span {
	display: inline-block;
	width: 30%;
	height: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #FFF;
}