@import url("webfont.css");
@import url("colors/blue.css");

html, body{
	height: 100%;
}
i:focus {
	outline: none;
}
a{
	text-decoration: none;
}
a:focus,a:visited{
	border:0; 
}
.editor-control-button-wrapper {
	position: fixed;
	top: 15%;
	left: 0;	
	z-index: 1500;	
}

.editor-page-container {
	margin-top: 41px;
}

.editor-page-nav-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1500;	
	height: 40px;
}

.editor-page-nav-wrapper .site-logo {
	margin-top: 0.3em;
}

.editor-page-nav-wrapper * {
	float: left;
	padding: 0px 5px;
}

.editor-page-nav-wrapper .device a{
	padding: 12px 5px;
	width: 25px;
	text-align: center;
}
.editor-page-nav-wrapper .device a.mobile{
	font-size: 23px;
	padding-top: 7px;
	padding-bottom: 6px;
}
.editor-page-nav-wrapper .device a i{
	float: none;
}

.editor-page-nav-wrapper .select-page{
	margin-top: 10px;
	font-size: 14px;
	margin-left: 50px;
}

.editor-page-nav-wrapper .select-page select{
	border: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 3px 5px;
	margin-top: -3px;
}

.editor-control-menu {
	list-style: none;
	margin: 0;
	padding: 10px;
	float: left;
	margin-left: 1em;
}

li.editor-control-menu-item {
	padding: 5px 0;
	font-size: 25px;
}
.editor-page-nav-wrapper .editor-control-menu-item i {
	font-size: 16px;
}

.editor-setting-panel {
	width: 20em;
	height: 100%;
	float: right;	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 1em;
}
.editor-setting-panel .panel-header{
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 0.8em;
}
.editor-setting-panel .panel-header .back-title{
	text-transform: capitalize;
	font-weight: 300;
	letter-spacing: .1em;
}

.editor-setting-panel .panel-header .close{
	float: right;
	cursor: pointer;
}

.editor-setting-panel .panel-header-description {
	text-transform: none;
	font-weight: 100;
	font-size: 0.9em;	
	padding: 10px;
	letter-spacing: 1px; 
	font-weight: 100;
	font-size: 0.7em;
}
.editor-setting-panel .panel-header-description .title{
	margin: 0 0 0.4em;
	text-transform: uppercase;
}
.pages-setting-pages-list-container li a{
	display: block;
}
.editor-setting-panel .panel-header a,
.pages-setting-pages-list-container li a i {	
	text-decoration: none;
}

.elements-setting-pages-list-container li a i{
	font-size: 20px;
	margin-right: 0.5em;
	width: 1em;
	text-align: center;
}

.editor-setting-panel .panel-header .btn, .editor-setting-panel .panel-header-description .btn{
	padding: 0.5em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 0.8em;
	text-decoration: none;
	text-transform: capitalize;
}
.editor-setting-panel .panel-header-description .btn{
	padding: 1em;
}
.editor-setting-panel .panel-header .btn{
	margin-top: -0.4em;
	position: absolute;
	margin-left: 0.5em;		
}

.editor-nav-control-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	margin-top: 8px;
}
.editor-nav-control-menu li {
	float: left;
}

.editor-nav-control-menu li.btn{
	font-size: 14px;
	text-decoration: none;
}

.editor-setting-panel ul,.editor-setting-panel ul li {
	list-style: none;	
	margin: 0;
	padding: 0;
}

.pages-setting-container ul li a {
	display: inline;
}

.background-setting-background-color-thumbnails {
	border: 1px solid;
}
.editor-setting-panel ul.list-container li,
.font-customize-preset-wrapper>ul>li{
	padding: 1em 1.5em;
}

.editor-setting-panel ul.list-container li:last-child{
	border-bottom: 0;
}

.editor-setting-panel ul.pages-setting-pages-list-container li .pages-setting-page-order-btn{
	margin-right: 1em;
}

.editor-setting-panel{
	display: none;
}

/* 
*************
*  Toolbar  *
*************
*/

.editor-control-menu *,.editor-control-menu  *:after,.editor-control-menu  *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


.editor-control-menu li a {
	display: inline-block;
	font-weight: 700;
	padding: 0.15em 0.25em 0;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;	
	margin: 2px 0;	
	transition: background-color 0.2s, color 0.2s;
	position: relative;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.editor-control-menu li a .text{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 0.6em;
}

.editor-control-menu li a.current::after{
	position: absolute;
	top: 40%;
	left: 100%;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 10px;
	content: '';
	pointer-events: none;
}

.editor-control-menu li a .icon-btn{
	display: block;
	margin: 0.4em 0 -0.4em;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-size: 2em;	
	line-height: 1;
	speak: none;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.toolbar {
	display: inline;
	position: relative;
	z-index: 999;
}

.toolbar-content .close{
	position: absolute;
	z-index: 2;
	right: 7px;
	top: 5px;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	cursor: pointer;
}

/*****************
**** UI Dialog ***
******************/
.ui-dialog{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0;
	z-index: 1500;
}

.ui-dialog .ui-dialog-titlebar{
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 0.8em;
	border:0px;
	margin: -1px;
}

.ui-dialog .ui-button{
	background: transparent none;
	border: 0;
}

.ui-dialog .ui-dialog-buttonpane{
	padding: .3em .4em .2em .4em;
	border: 0;
}

.ui-dialog .ui-dialog-buttonpane button{
	margin: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}
.ui-button-text-only .ui-button-text{
	padding: .3em .8em;
	font-size: 0.7em;	
	font-weight: 300;
	text-transform: capitalize;
	text-transform: capitalize;
	letter-spacing: 1px;
	font-weight: 500;
	font-family: sans-serif;
}

.ui-dialog-content label{
	display: inline-block;
	max-width: 100%;
	font-size: 0.8em;
}

.ui-dialog-content .input-box {
	display: block;
	width: 100%;
	height: 30px;
	padding: 0px 3px;
	font-size: 14px;
	line-height: 1.42857143;
	background-image: none;
	border-radius: 4px;
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	margin-left: -3px;
	margin-bottom: 7px;
}
.radio, .checkbox {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}
.radio label, .checkbox label {
	min-height: 20px;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: 400;
	cursor: pointer;
}

.radio input[type=radio], .radio-inline input[type=radio], 
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {	
	line-height: normal;
	position: absolute;
	margin-top: 4px \9;
	margin-left: -20px;
}

.setting-body label{
	font-weight: 700;
	padding-bottom: 5px;
}

.setting-body .setting-body-input-group {
	padding: 10px;
	display: block;
	overflow: hidden;	
	margin-top: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.setting-body .setting-body-input-group .design-setting-background-setting-btn{
	display: block;
	text-align: center;
}

.setting-body .setting-body-input-group:last-child {
	margin-bottom: none;
}

.setting-body .setting-body-input-group legend {
	margin-bottom: 5px;
	padding-bottom: 3px;
}

.setting-body .setting-body-input-group .setting-group-description {
	font-weight: 100;
	font-size: 0.65em;
	margin-top: 0;
}

.page-setting-background-image-scaling-wrapper,
.page-setting-background-image-position-wrapper {
	width: 50%;
	float: left;
}

/*
	Dialog components
*/
.dialog-content-description {
	font-weight: 100;
	font-size: 0.76em;
	margin: 0px 15px 5px 15px;
}

.page-create-layout-select-container,
.page-create-layout-thumbnail-container {
	width: 50%;
	float: left;
}

/*
	Background Design
*/

img.background-setting-preset-thumbnail {
	width: 30%;
	height: 100px;
	border-radius: 3px;
	float: left;
	margin: 5px 1%;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
img.background-setting-preset-thumbnail:hover{	
	opacity: 1;
	filter: alpha(opacity=100);
}

/*
	color design
*/
.color-setting-preset {
	line-height: 20px;
}

span.color-setting-color-preset-thumbnails {
	display: block;
	width: 20%;
	height: 20px;
	margin: 0;
	padding: 0;
	float: left;
}
.color-setting-preset-container {
	padding: 5px;
	line-height: 20px;
}

/*
	Font design
*/
.font-setting-font-preset-thumbnails-container {
	padding: 5px 15px;
}

/*
	Drop place holder
*/
.pages-setting-page-item-placeholder {
	height: 20px;
}

.pages-setting-page-item:hover{
	cursor: pointer;
}

.panel-header .back{		
	margin-right: 0.5em;
	display: block;
	float: left;
	margin-left: 0!important;
	position: initial!important;
}


/*
	Scroll Bar
*/
.scroll-container,.ui-dialog .ui-dialog-content{
	max-height: 350px;
	width: 100%;	
	overflow-y: scroll;
}
.scroll-container::-webkit-scrollbar,.ui-dialog .ui-dialog-content::-webkit-scrollbar {
    width: 0.3em;
}
 
.scroll-container::-webkit-scrollbar-track,.ui-dialog .ui-dialog-content::-webkit-scrollbar-track {    
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
 
.scroll-container::-webkit-scrollbar-thumb,.ui-dialog .ui-dialog-content::-webkit-scrollbar-thumb {
  	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


.background-positions li {
	width: 40px;
	float: left;
	text-align: center;
	margin: 1%!important;
	height: 40px;
	line-height: 40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}
.background-positions li.last{
	clear: right;	
}

.background-customize-setting-container label{
	font-weight: 300;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}
.background-customize-setting-container .checkbox {
	margin-top: 2px;
	margin-bottom: 2px;
}

.background-customize-setting-container h4 {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 0.8em;
	margin: 0 0 10px;
}

/*
* Color Picker 
*/
span.color-picker-thumbnail,
.color-setting-container .color-setting-color-preset-thumbnails-container {
	width: 40px;
	height: 20px;
	display: block;
	float: left;
	margin-top: 10px;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-style: solid;
	border-width: 5px 20px 5px 5px;
	cursor: pointer;
}
span.color-picker-thumbnail:after {
	content: "\f107";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	float: right;
	margin-right: -15px;
	margin-top: 3px;
}

.color-setting-container .color-setting-color-preset-thumbnails-container{
	border-radius: 3px;
	overflow: hidden;
	width: 30%;
	float: left;
	border-width: 5px;
}

.color-setting-container li{
	overflow: hidden;
}
/*
 * Buttons
 */
 .btn {
	padding: 0.5em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 0.64em;
	text-decoration: none;
	text-transform: capitalize;	
}

.color-setting-color-preset-title-container {
	width: 63%;
	float: right;
	padding: 15px 5px;
	color: #585a59;
	font-size: 0.9em;
}

.panel-header-description .button-container{
	text-align: right;
	padding: 20px 10px 5px;
}

.full-color-selector-container{
	padding:10px;
}

.full-color-selector-container label{
	font-size: 0.8em;
	font-weight: 300;
}

.full-color-selector-container hr{
	border-color: #e3e7e8;
	border-width: 0 0 1px 0;
	margin: 10px 0;
	clear: both;
	padding-top: 10px;
}

.font-setting-font-preset-thumbnails,
.font-setting-font-preset-sub-thumbnails {
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	text-overflow: ellipsis;
}

.font-customize-font-preset-thumbnails {
	color: #585a59;
	text-transform: uppercase;
	background: transparent!important;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 88%;
}

.font-customize-font-preset-thumbnails i{
	font-size: 16px;
}
.font-customize-preset-container .color {
	width: 15px;
	height: 15px;
	float: left;
	margin-right: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top: -5px;
}

.ui-dialog .ui-dialog-content{
	margin-top: 1px;
}

.setting-body{
	padding-top: 20px;
}
.setting-body .toolbar {
	width: 100%;
	display: block;
	margin-top: -30px;
	margin-left: -20px;
	padding: 10px 0;
	font-size: 0.7em;
	text-align: right;
	position: absolute;
}

.setting-body .toolbar a{
	font-size: 0.8em;
}

.setting-body .toolbar a:last-child{
	margin-right: 10px;
}

