/*
 * Top Navigation
 */
.editor-page-nav-wrapper {
	background: rgb(98,110,126); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(98,110,126,1) 0%, rgba(95,106,124,1) 22%, rgba(90,101,119,1) 50%, rgba(83,94,112,1) 74%, rgba(77,90,106,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(98,110,126,1)), color-stop(22%,rgba(95,106,124,1)), color-stop(50%,rgba(90,101,119,1)), color-stop(74%,rgba(83,94,112,1)), color-stop(100%,rgba(77,90,106,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(98,110,126,1) 0%,rgba(95,106,124,1) 22%,rgba(90,101,119,1) 50%,rgba(83,94,112,1) 74%,rgba(77,90,106,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(98,110,126,1) 0%,rgba(95,106,124,1) 22%,rgba(90,101,119,1) 50%,rgba(83,94,112,1) 74%,rgba(77,90,106,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(98,110,126,1) 0%,rgba(95,106,124,1) 22%,rgba(90,101,119,1) 50%,rgba(83,94,112,1) 74%,rgba(77,90,106,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(98,110,126,1) 0%,rgba(95,106,124,1) 22%,rgba(90,101,119,1) 50%,rgba(83,94,112,1) 74%,rgba(77,90,106,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#626e7e', endColorstr='#4d5a6a',GradientType=0 ); /* IE6-9 */
	border-top: 1px solid #7f8b99;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}

.editor-page-nav-wrapper a {
	color: #bac2cf;	
}

.editor-page-nav-wrapper .device a:hover{
	color: #FFF;
}

.editor-page-nav-wrapper .select-page{
	color: #bac2cf;	
}

.editor-page-nav-wrapper .select-page select{
	background: #343b45;
	-webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.5);
	box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.5);
}

/*
 * Toolbar
 */
.editor-control-menu {
	background: rgba(40,44,42,0.05);
}

.editor-setting-panel {
	background: #f3f5f4;	
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.editor-setting-panel .panel-header{
	background: #FFF;
	color: #525252;	
	border-bottom: 1px solid #EDEDED;
}
.editor-setting-panel .panel-header .back-title{
	color: #c9c9c9;
}
.pages-setting-pages-list-container li a i,
.font-customize-preset-wrapper>ul>li a i,
.editor-setting-panel .panel-header .close{
	color: #c5c5c5;
}

.editor-setting-panel .panel-header-description {
	background: #FAFAFA;
	color: #a2a4a3;	
	border-bottom: 1px solid #e3e7e8;
}
.editor-setting-panel .panel-header-description .title{
	color: #333;
}
.pages-setting-pages-list-container li a{
	color: #777;
}

.elements-setting-pages-list-container li a,
.elements-setting-pages-list-container li a:hover {	
	color: #777;
}
.ui-widget-content a,
.editor-control-menu li a:hover .text, .editor-control-menu li a.current .text,
.editor-setting-panel .panel-header .close:hover,
.editor-setting-panel ul.pages-setting-pages-list-container li:hover .pages-setting-page-order-btn,
.elements-setting-pages-list-container li:hover a i,
.pages-setting-pages-list-container li a:hover i,
.font-customize-preset-wrapper>ul>li a:hover i
 {
	color: #66ccce;
}
.editor-nav-control-menu li a:hover{
	color:#fff;
}
.editor-nav-control-menu li.btn{
	border-left: 1px solid #6e7b8e;
}

.editor-setting-panel ul.list-container li, 
.color-setting-preset-wrapper>ul>li,
.font-customize-preset-wrapper>ul>li{
	border-bottom: 1px solid #e3e7e8; 
	color: #585a59;
	background: #f0f4f5;
}
.editor-control-menu li a {
	background-color: #f7f7f7;
	color: #74777b;	
}
.editor-control-menu li a.current::after{
	border-left-color: #f7f7f7!important;
}

/*
 * UI Dialog
 */
.ui-dialog{
	background: #f0f4f5;
	border: 1px solid #f0f4f5;	
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.ui-dialog .ui-dialog-titlebar{
	background: #66ccce;
	color: #FFF;	
	border-bottom: 1px solid #e3e7e8;
}
.ui-dialog .ui-button:hover{
	color: #ffd47e;
}

.ui-dialog .ui-dialog-buttonpane{
	background: #efefef;
	border-top: 1px solid #e4e8e7;
}

.ui-dialog .ui-dialog-buttonpane button{
	background: #66ccce;
}
.ui-dialog .ui-dialog-buttonpane button:hover{
	background: #ffd47e;
	color: #FFF;
}
.ui-dialog-content .input-box {	
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;	
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.setting-body .toolbar,
.setting-body .setting-body-input-group legend {
	border-bottom: 1px solid #e4e8e7;
}
.setting-body .setting-body-input-group{
	background: #FFF;
	border: 1px solid #e4e8e9;
}
.setting-body .setting-body-input-group .setting-group-description {
	color: #c5c5c5;
}
.setting-body .setting-body-input-group .design-setting-background-setting-btn{
	color: #FFF;
}

/*
	Dialog components
*/
.dialog-content-description {
	color: #c5c5c5;
}

/*
	Background Design
*/
img.background-setting-preset-thumbnail {
	border: 1px solid #e3e7e8;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
}
img.background-setting-preset-thumbnail:hover{		
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
}

/*
	color design
*/
.color-setting-color-preset-thumbnails-container {
	border: 1px solid #e3e7e8;
}

/*
	Font design
*/
.font-setting-font-preset-thumbnails-container {
	border-bottom: 1px solid #ccc;
}

/*
	Drop place holder
*/
.pages-setting-page-item-placeholder {
	background-color: rgba(101, 203, 205, 0.3)	
}

.pages-setting-page-item:hover .pages-setting-page-order-btn i{
	color:#65cbcd;
}

/*
	Scroll Bar
*/
.scroll-container::-webkit-scrollbar-track ,.ui-dialog .ui-dialog-content::-webkit-scrollbar-track {    
    background: #e8eced;
}
 
.scroll-container::-webkit-scrollbar-thumb, .ui-dialog .ui-dialog-content::-webkit-scrollbar-thumb {
 	background-color: #69cbca;
}

.background-positions li {
	background: #e2e6e7;	
	-webkit-box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.3);
	box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.3);
}

.background-positions li:hover,
.background-positions li.current{
	background: #66ccce;
	color: #FFF;	
}

/*
* Color Picker 
*/
.color-picker-thumbnail, 
.color-setting-container .color-setting-color-preset-thumbnails-container {	
	border: 1px solid #e4e8e7;	
	border-color: #e2e6e7;	
	-webkit-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.3);
	box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.3);
}

/*
 * Buttons
 */
 .btn {	
	color: #FFF;	
}
.btn.btn-primary {
	background: #65cbcd;
}
.btn-danger {
	background: salmon;
}
.btn-primary:hover, .btn-danger:hover {
	color: #FFF;
	background: #ffd47e;
}

.button-box{
	border-top: 1px solid #e4e8e7;
}

.full-color-selector-container hr{
	border-color: #e3e7e8;
}

span.full-color-selector-thumbnail{
	border: 5px solid #e4e8e7;
	border-color: #e2e6e7;
	-webkit-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.3);
	box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.3);
}

.font-setting-font-preset-thumbnails{
	color: #333;
}
.font-setting-font-preset-sub-thumbnails{
	color: #a2a4a3;
}

.font-customize-preset-container .color {
	border: 5px solid #e2e6e7;
	background: #FFF;
	border-color: #e2e6e7;	
}

.setting-body .toolbar {
	background: #FFF;
}

.setting-body .toolbar a{
	color: #FFF;
}