<div class="panel-header">
	<a href="javascript:;" class="btn btn-primary back back-to-design"><i class="fa fa-arrow-left"></i></a>	
	<span class="title back-title">Back to Design</span>
	<span class="close" id="panel-close-btn"><i class="fa fa-times"></i></span>
	
</div>
<div class="panel-content">	
	<div class="panel-header-description">
		<h3 class="title">Background Settings</h3>
		Make a bold impression. Create a different background for each of your site pages.
		<div class="background-setting-customize-button-container button-container">
			<a href="javascript:;" class="btn btn-primary background-setting-customize-button">Customize Background</a>
		</div>
	</div>
	<div class="background-setting-container">
		<div class="background-setting-preset-container scroll-container">
			{{#background_presets}}
				<a href="javascript:;"><img src="{{thumbnail}}" data-id="{{id}}" class="background-setting-preset-thumbnail"></a>
			{{/background_presets}}
		</div>
		
	</div>
</div>

