<div class="panel-header">
	<a href="javascript:;" class="btn btn-primary back back-to-background-setting"><i class="fa fa-arrow-left"></i></a>
	<span class="title back-title">Back to Background Setting</span>
	<span class="close" id="panel-close-btn"><i class="fa fa-times"></i></span>	
</div>
<div class="panel-content">	
	<div class="panel-header-description">
		<h3 class="title">Customize Background</h3>
		Upload an image, adjust its settings and choose your background color.
	</div>
	<div class="background-customize-setting-container setting-body scroll-container">
		<div class="setting-body-input-group">
			<div class="page-setting-background-image-wrapper">
				<div class="page-setting-background-image-thumbnail-container">
					<img class="page-setting-background-image-thumbnail {{^background_image}} color_transparent {{/background_image}}" {{#background_image}} src="{{background_image}}" {{/background_image}}>
				</div>
				<div class="page-setting-background-image-buttom-container">
					<a href="javascript:;" class="btn btn-primary page-setting-background-image-change">Change Image</a>
					<a href="javascript:;" class="btn btn-danger page-setting-background-image-remove">Remove Image</a>
				</div>
			</div>
		</div>
		<div class="setting-body-input-group">
			<div class="page-setting-background-image-scaling-wrapper">
				<h4 for="image_scaling">Image Scaling</h4>
				<div class="checkbox">
				    <label>
				      <input type="radio" class="image_scaling" name="image_scaling" value="full_screen"> Full Screen
				    </label>
			  	</div>
			  	<div class="checkbox">
				    <label>
				      <input type="radio" class="image_scaling" name="image_scaling" value="fit"> Fit
				    </label>
			  	</div>				
				<div class="checkbox">
				    <label>
				      <input type="radio" class="image_scaling" name="image_scaling" value="tile"> Tile
				    </label>
			  	</div>
			  	<div class="checkbox">
				    <label>
				      <input type="radio" class="image_scaling" name="image_scaling" value="tile_vertically"> Tile Vertically
				    </label>
			  	</div>
			  	<div class="checkbox">
				    <label>
				      <input type="radio" class="image_scaling" name="image_scaling" value="tile_horizontally"> Tile Horizontally
				    </label>
			  	</div>
			  	<div class="checkbox">
				    <label>
				      <input type="radio" class="image_scaling" name="image_scaling" value="normal"> Normal
				    </label>
			  	</div>				
			</div>
			<div class="page-setting-background-image-position-wrapper">
				<h4>Position</h4>
				<div class="background-positions">
				<input type="hidden" id="background-positions-image-position" class="image_position" name="image_position" value="">
					<ul>						
						<li data-value="top_left"></li>
						<li data-value="top_center"><i class="fa fa-angle-up"></i></li>
						<li class="last" data-value="top_right"></li>
						<li data-value="middle_left"><i class="fa fa-angle-left"></i></li>
						<li data-value="middle_center"><i class="fa fa-stop"></i></li>
						<li class="last" data-value="middle_right"><i class="fa fa-angle-right"></i></li>
						<li data-value="bottom_left"></li>
						<li data-value="bottom_center"><i class="fa fa-angle-down"></i></li>
						<li class="last" data-value="bottom_right"></li>
					</ul>
				</div>				
			</div>
		</div>
		<div class="setting-body-input-group">
			<div class="page-setting-background-attachment-wrapper">			
			    <label>
			      <input type="checkbox" class="page-setting-background-attachment"> Scroll background with site
			    </label>
			</div>
		</div>
		<div class="setting-body-input-group">
			<div class="page-setting-background-color-wrapper">
				<div class="page-setting-background-color-thumbnail-container">
					<label>Change Color</label>
					<span class="page-setting-background-color-thumbnail bg_{{background_color}} color-picker-thumbnail"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="background-customize-setting-save-button-container button-box">
		<a href="javascript:;" class="background-customize-setting-save-button btn btn-primary">Save</a>
	</div>
</div>



