<div class="panel-header">
	<a href="javascript:;" class="btn btn-primary back back-to-design"><i class="fa fa-arrow-left"></i></a>	
	<span class="title back-title">Back to Design</span>
	<span class="close" id="panel-close-btn"><i class="fa fa-times"></i></span>
	
</div>
<div class="panel-content">	
	<div class="panel-header-description">
		<h3 class="title">Color Settings</h3>
		Choose a color palette to instantly transform your site. To personalize your color palette, select Customize Palette.
		<div class="color-setting-customize-button-container button-container">
			<a href="javascript:;" class="btn btn-primary color-setting-customize-button">Customize Colors</a>
		</div>
	</div>
	<div class="color-setting-container">
		<div class="color-setting-preset-wrapper scroll-container">
			<ul>
			{{#color_presets}}
				<li>
				<div class="color-setting-preset-container">
					<a class="color-setting-preset" data-id="{{id}}" href="javascript:;">
						<div class="color-setting-color-preset-thumbnails-container">
							{{#colors}}
								<span class="color-setting-color-preset-thumbnails" style="background-color: {{.}}"></span>
							{{/colors}}
						</div>
						<div class="color-setting-color-preset-title-container">
							{{name}}
						</div>
					</a>
				</div>
				</li>
			{{/color_presets}}
			</ul>
		</div>		
	</div>
</div>

