<div class="panel-header">
	<a href="javascript:;" class="btn btn-primary back back-to-color-setting"><i class="fa fa-arrow-left"></i></a>	
	<span class="title back-title">Back to Colors</span>	
	<span class="close" id="panel-close-btn"><i class="fa fa-times"></i></span>	
</div>
<div class="panel-content">	
	<div class="panel-header-description">
		<h3 class="title">Color Settings</h3>
		Customize your site's palette by clicking on the main colors on the top row.
	</div>
	<div class="color-customize-setting-container setting-body">

	</div>
	<div class="color-customize-setting-save-button-container button-box">
		<a href="javascript:;" class="color-customize-setting-save-button btn btn-primary">Save</a>
	</div>	
</div>



