<div class="setting-body page-create-container">
	<div class="dialog-content-description page-create-description">
		Scroll down to find the pre-made page layout you want. Name your page in the space provided and click OK. Your new page will immediately open and appear in your menu. You can reorder and rename in Pages Menu.
	</div>
	<div class="page-create-input-wrapper">
		<div class="setting-body-input-group">
			<div class="page-create-layout-select-container">
				<label for="layouts">Page Layouts</label>
		  		<select name="layouts" id="layouts" class="page-create-layout-select">
		  			<option value="none" selected>Select a Layout</option>
		  			{{#templates}}
		  			<option data-thumbnails="{{thumbnail}}" value="{{name}}">{{name}}</option>
		  			{{/templates}}
		  		</select>
			</div>
			<div class="page-create-layout-thumbnail-container">
				<img src="" class="page-create-layout-thumbnail color_transparent" style="width: 180px; height:180px;">
			</div>
		</div>
		<div class="setting-body-input-group">
			<div class="page-create-name-input-container">
				<label for="name">Name your page</label>
				<input type="text" class="page-create-name" id="name" name="name">
			</div>
		</div>
	</div>
</div>