<div class="panel-header">
	<span class="title">Design Settings</span>
	<span class="close" id="panel-close-btn"><i class="fa fa-times"></i></span>
	
</div>
<div class="panel-content">	
	<div class="panel-header-description">
		Play with the design tools to make your site look exactly how you want.
	</div>
	<div class="design-setting-container">
		<ul class="pages-setting-pages-list-container list-container">
			<li>
				<a href="javascript:;" id="design-setting-background-setting-btn">Background Settings<i class="fa fa-gear pull-right"></i></a>
			</li>
			<li>			
				<a href="javascript:;" id="design-setting-color-setting-btn">Color Settings<i class="fa fa-gear pull-right"></i></a>
			</li>
			<li>			
				<a href="javascript:;" id="design-setting-font-setting-btn">Fonts Settings<i class="fa fa-gear pull-right"></i></a>
			</li>
		</ul>
		
	</div>
</div>

