{{! Editor template }}
<div class="editor-control">
	<div class="editor-page-nav-wrapper">

		<a class="site-logo" href="{{URL::to('/')}}"><img src="{{URL::to('/')}}/theme/frontend/layout/img/logo-l.png" alt="{{Config::get('app.name')}}"></a>
		
		<div class="device">
			<a href="javascript:;" class="desktop"><i class="fa fa-desktop"></i></a>
			<a href="javascript:;" class="mobile"><i class="fa fa-mobile"></i></a>
		</div>

		<div class="select-page">
		</div>
		<ul class="editor-nav-control-menu">
			<li class="editor-control-menu-item">
				<a id="editor-undo-button" href="javascript:;" class="editor-control-menu-link"><i class="fa fa-undo editor-control-menu-icon"></i></a>
			</li>
			<li class="editor-control-menu-item">
				<a id="editor-redo-button" href="javascript:;" class="editor-control-menu-link"><i class="fa fa-undo fa-flip-horizontal editor-control-menu-icon"></i></a>
			</li>
			<li class="editor-control-menu-item">
				<a id="editor-copy-button" href="javascript:;" class="editor-control-menu-link"><i class="fa fa-copy editor-control-menu-icon"></i></a>
			</li>
			<li class="editor-control-menu-item">
				<a id="editor-cut-button" href="javascript:;" class="editor-control-menu-link"><i class="fa fa-cut editor-control-menu-icon"></i></a>
			</li>
			<li class="editor-control-menu-item">
				<a id="editor-paste-button" href="javascript:;" class="editor-control-menu-link"><i class="fa fa-paste editor-control-menu-icon"></i></a>
			</li>
			<li class="editor-control-menu-item">
				<a id="editor-grid-button" href="javascript:;" class="editor-control-menu-link"><i class="fa fa-th-large editor-control-menu-icon"></i></a>
			</li>
			<li class="editor-control-menu-item btn">
				<a id="editor-preview-button" data-mode="editor" href="javascript:;" class="editor-control-menu-link">Preview</a>
			</li>
			<li class="editor-control-menu-item btn">
				<a id="editor-save-button" href="javascript:;" class="editor-control-menu-link">Save</a>
			</li>
			<li class="editor-control-menu-item btn">
				<a id="editor-publish-button" href="javascript:;" class="editor-control-menu-link">Publish</a>
			</li>
			<li class="editor-control-menu-item btn">
				<a id="editor-upgrade-button" href="javascript:;" class="editor-control-menu-link">Upgrade</a>
			</li>
			<li class="editor-control-menu-item btn">
				<a id="editor-help-button" href="javascript:;" class="editor-control-menu-link"><i class="fa fa-question editor-control-menu-icon"></i></a>
			</li>
		</ul>
	</div>
	<div class="editor-control-button-wrapper">
		<ul class="editor-control-menu">
			<li>
				<a data-generator="Page" id="editor-pages-button" href="javascript:;" class="toolbar-nav ">
					<span class="text"><i class="fa fa-file-o icon-btn"></i>Pages</span>					
				</a>
			</li>
			<li>
				<a class="toolbar-nav" id="editor-design-button" data-target="design-panel" href="javascript:;">
					<span class="text"><i class="fa fa-paint-brush icon-btn"></i>Design</span>				
				</a>
			</li>	
			<li>
				<a class="toolbar-nav" href="javascript:;" id="editor-add-elements-button" data-target="add-elements-panel">
					<span class="text"><i class="fa fa-magic icon-btn"></i>Add</span>						
				</a>
			</li>
			<li>
				<a class="toolbar-nav" href="#">
					<span class="text"><i class="fa fa-cogs icon-btn"></i>Settings</span>					
				</a>
			</li>				
		</ul>
		<div class="editor-setting-panel"></div>
	</div>	
</div>
<div class="editor-page-container">
	
</div>