<div class="editor-select-page-wrapper">
    <span>Page: </span>
    <select class="editor-page-nav-selector">
        {{#pages}}
        <option value="{{index}}">{{title}}</option>
        {{/pages}}
    </select>
</div>
