<div class="panel-header">
	<span class="title">Add</span>
	
	<span class="close" id="panel-close-btn"><i class="fa fa-times"></i></span>
</div>
<div class="panel-content">	
	<div class="elements-setting-container">
		<ul class="elements-setting-pages-list-container list-container">		
			<li>
				<a data-generator="Text" id="editor-create-text-button" href="javascript:;" class="editor-control-menu-link">
					<i class="fa fa-font editor-control-menu-icon"></i>
					<span class="title">Text</span>
				</a>
			</li>
			<li>
				<a data-generator="Image" id="editor-create-image-button" href="javascript:;" class="editor-control-menu-link">
					<i class="fa fa-picture-o editor-control-menu-icon"></i>
					<span class="title">Image</span>
				</a>
			</li>
			<li>
				<a data-generator="Menu" id="editor-create-menu-button" href="javascript:;" class="editor-control-menu-link">
					<i class="fa fa-bars editor-control-menu-icon"></i>
					<span class="title">Menu</span>
				</a>
			</li>
			<li>
				<a data-generator="Line" id="editor-create-line-button" href="javascript:;" class="editor-control-menu-link">
					<i class="fa fa-arrows-h editor-control-menu-icon"></i>
					<span class="title">Horizontal Line</span>
				</a>
			</li>
		</ul>
		
	</div>
</div>

