<div class="panel-header">
	<a href="javascript:;" class="btn btn-primary back back-to-fonts"><i class="fa fa-arrow-left"></i></a>	
	<span class="title back-title">Back to Fonts</span>
	<span class="close" id="panel-close-btn"><i class="fa fa-times"></i></span>	
</div>
<div class="panel-content">
	<div class="panel-header-description">
		<h3 class="title">Customize Fonts</h3>
		Click on a font to change it.		
	</div>	
	<div class="font-customize-container">
		<div class="font-customize-preset-wrapper scroll-container">
			<ul>
			{{#font}}
				<li>
				<div class="font-customize-preset-container">
					<a class="font-customize-preset" data-class-name="{{name}}" href="javascript:;">
						<div class="font-customize-font-preset-thumbnails-container">
							<div class="color"></div>
							<div class="font-customize-font-preset-thumbnails {{className}}">
							{{name}}
							<i class="fa fa-gear pull-right"></i>
							</div>
						</div>
					</a>
				</div>
				</li>
			{{/font}}
			</ul>
		</div>
		<div class="font-customize-customize-button-container button-box">
			<a href="javascript:;" class="btn btn-primary font-customize-save-button">Save</a>
		</div>
	</div>
</div>

