<div class="panel-header">
	<a href="javascript:;" class="btn btn-primary back back-to-design"><i class="fa fa-arrow-left"></i></a>	
	<span class="title back-title">Back to Design</span>
	<span class="close" id="panel-close-btn"><i class="fa fa-times"></i></span>
	
</div>
<div class="panel-content">
	<div class="panel-header-description">
		<h3 class="title">Font Settings</h3>
		Transform your site's font scheme in one click. To personalize click Customize Fonts.
		<div class="font-setting-customize-button-container button-container">
			<a href="javascript:;" class="btn btn-primary font-setting-customize-button">Customize Fonts</a>
		</div>
	</div>	
	<div class="font-setting-container scroll-container">
		<div class="font-setting-preset-wrapper">
			{{#font_presets}}
				<div class="font-setting-preset-container">
					<a class="font-setting-preset" data-id="{{id}}" href="javascript:;">
						<div class="font-setting-font-preset-thumbnails-container">
							<div class="font-setting-font-preset-thumbnails" style="font-family:{{fonts.page_title.font_family}};font-size:{{fonts.page_title.font_size}};font-weight:{{fonts.page_title.font_weight}};font-style:{{fonts.body_l.font_style}}">{{name}}</div>
							<div class="font-setting-font-preset-sub-thumbnails" style="font-family:{{fonts.body_l.font_family}};font-size:{{fonts.body_l.font_size}};font-weight:{{fonts.body_l.font_weight}};font-style:{{fonts.body_l.font_style}}">Pack my box with five dozen liquor jugs.</div>
						</div>
					</a>
				</div>
			{{/font_presets}}
		</div>
		
	</div>
</div>

