<div class="font-selector-body setting-body">
	<div class="setting-body-input-group">
		<label for="font_family">Font</label>
		<select name="font_family" id="font_family" class="font-selector-font-family-select">
			{{#fonts}}
				<option value="{{family}}" class="font-selector-font-family">
					<!-- <span style="font-family:{{family}};font-size:14px;font-weight:normal;font-style:normal">{{name}}</span> -->
					{{name}}
				</option>
			{{/fonts}}
		</select>
	</div>
	<div class="setting-body-input-group">
		<label for="font_family">Character</label>
		<input type="text" id="font_size" class="font-selector-font-size" value="{{font_size}}">
		<input type="checkbox" id="font_weight" class="font-selector-font-weight"><i class="fa fa-bold"></i>
		<input type="checkbox" id="font_style" class="font-selector-font-style"><i class="fa fa-italic"></i>
	</div>
</div>