<div class="panel-header">
	<span class="title">Pages</span>
	<a href="javascript:;" class="pages-setting-btn btn btn-primary" id="editor-create-page-button">Add <i class="fa fa-plus"></i></a>
	<span class="close" id="panel-close-btn"><i class="fa fa-times"></i></span>	
</div>
<div class="panel-content">
	<div class="panel-header-description">
		Navigate through your pages. To change a page's settings, click the gear icon.
	</div>	
	<ul class="pages-setting-pages-list-container list-container">
		{{#pages}}
			<li data-page-cid="{{cid}}" class="pages-setting-page-item">
				<a href="javascript:;" class="pages-setting-page-order-btn icon pull-left" data-page-cid="{{cid}}" data-page-id="{{id}}"><i class="fa fa-arrows"></i></a>
				{{title}}
				<a href="javascript:;" class="pages-setting-page-setting-btn icon pull-right" data-page-cid="{{cid}}" data-page-id="{{id}}"><i class="fa fa-gear"></i></a>
			</li>
		{{/pages}}
	</ul>
</div>
