<div class="full-color-selector-body">
	<div class="full-color-selector-container">
		<label>Main Colors</label>
		<ul class="full-color-selector-main-color-container">
			{{#main_colors}}
				<li class="full-color-selector-main-color-element-wrapper">
					<a data-class-name="{{className}}" href="javascript:;" class="full-color-selector-btn">
						<span class="full-color-selector-thumbnail full-color-main" style="background-color: {{color}}"></span>
					</a>
				</li>
			{{/main_colors}}
		</ul>
		<ul class="full-color-selector-main-color-container">
			<li class="full-color-selector-main-color-element-wrapper"><i class="fa fa-angle-down"></i></li>
			<li class="full-color-selector-main-color-element-wrapper"><i class="fa fa-angle-down"></i></li>
			<li class="full-color-selector-main-color-element-wrapper"><i class="fa fa-angle-down"></i></li>
			<li class="full-color-selector-main-color-element-wrapper"><i class="fa fa-angle-down"></i></li>
			<li class="full-color-selector-main-color-element-wrapper"><i class="fa fa-angle-down"></i></li>
		</ul>
		{{#extracted_colors}}
		<ul class="full-color-selector-color-plate-container">
			{{#.}}
			<li class="full-color-selector-color-plate-element-wrapper">
				<span class="full-color-selector-thumbnail" style="background-color: {{color}}"></span>
			</li>
			{{/.}}
		</ul>
		{{/extracted_colors}}
		<hr>
		<label>More Colors</label>
		<ul class="constant-color-selector-container">
			{{#more_colors}}
				<li class="full-color-selector-constant-color-element-wrapper">
					<a data-class-name="{{className}}" href="javascript:;" class="full-color-selector-btn full-color-more">
						<span class="full-color-selector-thumbnail" style="background-color: {{color}}"></span>
					</a>
				</li>
			{{/more_colors}}
		</ul>
	</div>
</div>