<div class="color-selector-body">
	<div class="mini-color-selector-container">
		{{#colors}}
		<ul class="mini-color-selector-color-plate-container">
			{{#.}}
			<li class="mini-color-selector-color-plate-element-wrapper">
				<a data-class-name="{{className}}" href="javascript:;" class="mini-color-selector-btn">
					<span class="mini-color-selector-thumbnails" style="background-color: {{color}}"></span>
				</a>
			</li>
			{{/.}}
		</ul>
		{{/colors}}
	</div>
</div>