.unselectable {
	-moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.text-wrapper.unselectable > *:first-child {
	margin-top: 0;
}

.text-wrapper.unselectable > *:last-child {
	margin-top: 0;
}

div.text-editor-panel-wrapper {
	position: absolute;
	background: #f3f5f4;
	z-index: 1000;
	padding: 1px;
	border: 1px solid #e3e7e8;
}
div.text-editor-panel-wrapper:before {
	content: "\f047";
	color: #c5c5c5;
	position: absolute;
	left: 5px;
	font-size: 20px;
	display: inline-block;
	font-family: FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	top: 19px;
}

div.text-editor-panel-container {
	margin-left: 30px;
}

/*
	Text settings
*/
.text-setting-position-input-wrapper {
	width: 45%;
	float: left;
}
.text-setting-position-input-wrapper input.text-setting-position-input {
	display: inline;
	width: 25px;
	margin: 1px;
}

.text-setting-size-input-wrapper {
	width: 45%;
	float: right;
}

.text-setting-size-input-wrapper input.text-setting-size-input {
	display: inline;
	width: 25px;
	margin: 1px;
}