<div class="menu-widget-menu-container">
	<ul class="menu-widget-menu">
		{{#pages}}
		<li class="menu-widget-menu-item">
			<a data-id="{{cid}}" href="{{href}}" class="menu-widget-menu-link">
				{{title}}
			</a>
		</li>
		{{/pages}}
	</ul>
</div>