<div class="setting-body">
	<div class="setting-body-input-wrapper">
		<label for="left">Left (x)</label>
  		<input type="text" id="left" class="input-box" value="{{position_left}}">
	</div>
	<div class="setting-body-input-wrapper">
		<label for="top">Top (y)</label>
  		<input type="text" id="top" class="input-box"  value="{{position_top}}">
	</div>
	<div class="setting-body-input-wrapper">
		<label for="width">Width</label>
		<input type="text" id="width" class="input-box" value="{{width}}">
	</div>
	<div class="setting-body-input-wrapper">
		<label for="height">Height</label>
		<input type="text" id="height" class="input-box" value="{{height}}">
	</div>

	<div class="checkbox">
	    <label>
	      <input type="checkbox" id="show_on_all_pages" value="{{show_on_all_pages}}"> Show on All Pages
	    </label>
  	</div>

	<div class="setting-body-input-wrapper">
		<label for="alignment">Alignment</label>
		<select name="alignment" id="alignment" class="input-box">
			<option value="left">Left</option>
			<option value="center">Center</option>
			<option value="right">Right</option>
		</select>
	</div>
</div>
