{{! Default settings contains default settings for a widget }}
<div class="setting-body">
    <div class="setting-description">
        Upload your own image and personalize. Adding Alt text and a title will boost your SEO.
    </div>

    <div class="setting-body-input-group">
        <a href="javascript:;" class="image-setting-change-image-btn btn primary-btn">Change Image</a>
    </div>

    <div class="setting-body-input-group">
        <a href="javascript:;" class="image-setting-edit-image-btn btn primary-btn">Edit Image</a>
    </div>

    <div class="setting-body-input-group">
        <label for="image_scaling_select">Image Scaling</label>
        <select class="image-setting-image-scaling-select" id="image_scaling_select">
            <option value="crop" class="image-setting-image-scaling">Crop</option>
            <option value="center" class="image-setting-image-scaling">Center</option>
            <option value="stretch" class="image-setting-image-scaling">Stretch</option>
        </select>
    </div>

    <div class="setting-body-input-group">
        <label for="image_title">Title</label>
        <input type="text" id="image_title" class="image-setting-image-title-input" value="{{image_title}}">
        <label for="image_alt_text">Alt Text</label>
        <input type="text" id="image_alt_text" class="image-setting-image-alt-input" value="{{image_alt}}">
    </div>

    <div class="setting-body-input-group">
        <label for="image_click_event">When image is clicked</label>
        <select class="image-setting-click-event-select" id="image_click_event">
            <option value="crop" class="image-setting-click-event">Do Noting</option>
            <option value="center" class="image-setting-click-event">Open Link</option>
            <option value="stretch" class="image-setting-click-event">Open Expand Mode</option>
            <option value="fit" class="image-setting-click-event">Zoom In</option>
        </select>
    </div>

    <div class="setting-body-input-group">
        <label for="image_link_to">Title</label>
        <input type="text" id="image_link_to" class="image-setting-image-link-to" value="{{link_to}}" placeholder="http://123website.ca">
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" id="show_on_all_pages" value="{{show_on_all_pages}}"> Show on All Pages
        </label>
    </div>

    <div class="setting-body-input-group">
        <div class="text-setting-position-input-wrapper">
            <label for="left">x</label>
            <input type="text" id="left" class="text-setting-position-input input-box" value="{{position_left}}">
            <label for="top">y</label>
            <input type="text" id="top" class="text-setting-position-input input-box" value="{{position_top}}">
        </div>
        <div class="text-setting-size-input-wrapper">
            <label for="width">w</label>
            <input type="text" id="width" class="text-setting-size-input input-box" value="{{width}}">
            <label for="height">h</label>
            <input type="text" id="height" class="text-setting-size-input input-box" value="{{height}}">
        </div>
    </div>
</div>
