body {
	background: #f1fff1;
}
.gallery-widget-wraper {
	border: 1px solid #eee;
	background: #bbb;
	overflow: hidden;
	padding: 10px 60px;
}
.gallery-widget-wraper .header {
	font-weight: bold;
	font-size: 40px;
	font-family: tahoma;
	bottom-bottom: 1px solid white;
}
.gallery-widget-wraper .gallery-wrapper .preview {
	text-align: center;
	padding: 15px;	
}
.gallery-widget-wraper .gallery-wrapper ul {
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.gallery-widget-wraper .gallery-wrapper ul span {
	display: none;
}
