{{! Default settings contains default settings for a widget }}
<div class="setting-body">
  <label for="left">Left (x)</label>
  <input type="text" id="left" class="input-box" value="{{position_left}}">
  
  <label for="top">Top (y)</label>
  <input type="text" id="top" class="input-box" value="{{position_top}}">
  
  <label for="width">Width</label>
  <input type="text" id="width" class="input-box" value="{{width}}">
  
  <label for="height">Height</label>
  <input type="text" id="height" class="input-box" value="{{height}}">
    
  <div class="checkbox">
    <label>
      <input type="checkbox" id="show_on_all_pages" value="{{show_on_all_pages}}"> Show on All Pages
    </label>
  </div>
</div>
