{{! Files Template }}
<div class="modal-body">
  <div class="file-manager-header">
    <ul class="tabs">
      <li class="current"><a href="javascript:;" class="file-manager-file-api-btn" id="file-manager-local-files">Local Files</a></li>
      <li><a href="javascript:;" class="file-manager-file-api-btn" id="file-manager-pixabay-files">Pixabay Files</a></li>
    </ul>
    <div class="file-manager-search-input-container">
      <input type="text" id="file-manager-search-input" placeholder="Search...">
    </div>
    <div class="toolbars">
      <ul>
        <li><a href="javascript:;"><span class="icon-repeat"></span></a></li>
        <li class="separator"></li>
        <li><a href="javascript:;"><span class="icon-left-arrow"></span></a></li>
        <li><a href="javascript:;"><span class="icon-right-arrow"></span></a></li>        
        <li class="separator"></li>
        <li><a href="javascript:;"><span class="icon-folder"></span></a></li>
        <li><a href="javascript:;"><span class="icon-file"></span></a></li>
        <li class="separator"></li>        
        <li><a href="javascript:;"><span class="icon-copy-file"></span></a></li>
        <li><a href="javascript:;"><span class="icon-scissors"></span></a></li>
        <li><a href="javascript:;"><span class="icon-note2"></span></a></li>
        <li><a href="javascript:;"><span class="icon-trash"></span></a></li>
               
        <li class="tools"><a href="javascript:;"><span class="icon-tools"></span></a></li>
      </ul>
    </div>
  </div>
  <div class="file-manager-body">
    <div class="file-manager-sidebar">
    </div>
    <div class="file-manager-main-content">
      <div class="file-manager-file-list-wrapper">
        <ul class="file-manager-file-list">
          <li class="file-manager-panel upload-btn">
            <a href="javascript:;" class="file-manager-upload-file-btn"><i class="icon-upload"></i></a>
          </li>
        </ul>
      </div>
      <input type="file" id="file" name="file">
    </div>
  </div>
</div>