div.widget-base {
	position: absolute;
	z-index: 1000;
}
div.widget-base.locked{
	-moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

div.widget-context-wrapper {
	width: 200px;
}
ul.widget-context-menu {
	overflow: hidden;
	list-style: none;
	position: absolute;
	margin: 0;
	padding: 0;	
	top:0;
	left: 0;
	background: #f0f4f5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	z-index: 999999;
}
ul.widget-context-menu li a{
	color:#777;
	display: block;
	width: 100%;
	padding: 5px 8px;
	font-size: 0.8em;
}
ul.widget-context-menu li a:hover i{
	color: #66ccce;
}
ul.widget-context-menu li {
	border-bottom: 1px solid #bbbfca;
	border-top: 1px solid #f7fbfe;
}
ul.widget-context-menu li:first-child {	
	border-top: 0;
}
ul.widget-context-menu li:last-child {	
	border-bottom: 0;
}
ul.widget-context-menu-footer li{
	border: 0; 
}
ul.widget-context-menu i {
	padding: 3px;
}
ul.widget-context-menu-footer {
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
	background: #66ccce;	
}
ul.widget-context-menu-footer li{
	float: left;
	padding: 0px;
}
ul.widget-context-menu-footer li a{
	color: #fff;
}
ul.widget-context-menu-footer li a:hover i{
	color: #ffd47e;
}
/*
	Widget Border
*/
.widget-controls {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.widget-border-node {
	border: 1px dashed #66ccce;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: block;
}

div.widget-base.focus .widget-border-node {
	border: 1px solid #66ccce;
}

.widget-resize-handle {
	width: 6px;
	height: 6px;
	border: 1px solid #66ccce;
	border-radius: 50%;
	background-color: #FFF;
	position: absolute;
	display: none;
}

div.widget-base.focus .widget-resize-handle {
	display: block;
}

.widget-resize-handle-top-right {
	top: -3px;
	right: -3px;
	cursor: nesw-resize;
}

.widget-resize-handle-top-center {
	top: -3px;
	right: 50%;
	cursor: ns-resize;
}

.widget-resize-handle-top-left {
	top: -3px;
	left: -3px;
	cursor: nwse-resize;
}

.widget-resize-handle-bottom-right {
	bottom: -3px;
	right: -3px;
	cursor: resize;
}

.widget-resize-handle-bottom-center {
	bottom: -3px;
	right: 50%;
	cursor: ns-resize;
}

.widget-resize-handle-bottom-left {
	bottom: -3px;
	left: -3px;
	cursor: nesw-resize;
}

.widget-resize-handle-bottom-right {
	bottom: -3px;
	right: -3px;
	cursor: nwse-resize;
}

.widget-resize-handle-midle-right {
	bottom: 50%;
	right: -3px;
	cursor: ew-resize;
}

.widget-resize-handle-midle-left {
	bottom: 50%;
	left: -3px;
	cursor: ew-resize;
}