<ul class="widget-context-menu">
	{{#contextMenu}}
		<li>
			<a id="widget-context-menu-item-{{id}}" href="javascript:;">
				{{{pre}}}
				<i class="{{icon}}"></i>{{label}}
			</a>
		</li>
	{{/contextMenu}}
	<ul class="widget-context-menu-footer">
		{{#contextMenuFooter}}
			<li><a id="widget-context-menu-item-{{id}}" href="javascript:;"><i class="{{icon}}"></i></a></li>
		{{/contextMenuFooter}}
	</ul>
</ul>