{{! Base Widget Template Pattern }}
{{! Syntax: underscore-templates }}

<div class="wrapper">
	{{! the main content of widget goes here, this content is what would be shown to user out of editor }}
</div>

<div class="widget-controls">
	{{! All the control items (like resize, delete, rotate, right-click menu and so on) should be placed here }}
	<div class="widget-border-container">
		<div class="widget-border-node"></div>
		<div data-vertical-pos="top" data-horizontal-pos="right" dara-axis="xy" class="widget-resize-handle widget-resize-handle-top-right"></div>
		<div data-vertical-pos="top" data-horizontal-pos="center" dara-axis="y" class="widget-resize-handle widget-resize-handle-top-center"></div>
		<div data-vertical-pos="top" data-horizontal-pos="left" dara-axis="xy" class="widget-resize-handle widget-resize-handle-top-left"></div>
		<div data-vertical-pos="midle" data-horizontal-pos="right" dara-axis="x" class="widget-resize-handle widget-resize-handle-midle-right"></div>
		<div data-vertical-pos="midle" data-horizontal-pos="left" dara-axis="x" class="widget-resize-handle widget-resize-handle-midle-left"></div>
		<div data-vertical-pos="bottom" data-horizontal-pos="right" dara-axis="xy" class="widget-resize-handle widget-resize-handle-bottom-right"></div>
		<div data-vertical-pos="bottom" data-horizontal-pos="center" dara-axis="y" class="widget-resize-handle widget-resize-handle-bottom-center"></div>
		<div data-vertical-pos="bottom" data-horizontal-pos="left" dara-axis="xy" class="widget-resize-handle widget-resize-handle-bottom-left"></div>
	</div>
</div>