/*
	Mini color picker
*/
ul.mini-color-selector-color-plate-container {
	list-style: none;
	margin: 0;
	padding: 1px 0;
	float: left;
}

a.mini-color-selector-btn {
	display: block;
	line-height: 1px;
}

div.color-selector-body a {
	outline: none;
	text-decoration: none;
}

div.color-selector-body span {
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	border: 1px solid #e3e7e8;
	border-radius: 3px;
	margin: 1px 0;
}

div.color-selector-body a.focus span:before {
	content: "\2611";
	right: 0;
	bottom: 0;
	position: absolute;
	font-size: 11pt;
	line-height: 9pt;
}

/*
	Full Color Picker
*/
span.full-color-selector-thumbnail {
	width: 32px;
	height: 32px;
	display: inline-block;
	position: relative;	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
span.full-color-selector-thumbnail:hover {
	width: 35px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

ul.full-color-selector-main-color-container {
	width: 100%;
	overflow: hidden;
}

ul.full-color-selector-main-color-container li.full-color-selector-main-color-element-wrapper {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 20%;
	text-align: center;
	color: #525252;
	font-size: 12px;
	float: left;
}

ul.full-color-selector-color-plate-container {
	width: 20%;
	float: left;
}

ul.full-color-selector-color-plate-container span.full-color-selector-thumbnail {
	height: 16px;
}

ul.full-color-selector-color-plate-container {
	display: block;
	text-align: center;
}

/*
	Constant Color Selector
*/
ul.constant-color-selector-container {
	width: 100%;
	overflow: hidden;
}

ul.constant-color-selector-container li.full-color-selector-constant-color-element-wrapper {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 20%;
	text-align: center;
	color: #525252;
	font-size: 12px;
	float: left;
}