div.file-manager-header {
  width: 100%;  
  border: 1px solid #cacfd3;
}

div.file-manager-body {
  width: 100%;
  height: 300px;
  border: 1px solid #e9e9e9;
  background: #f3f5f4;
}

div.file-manager-sidebar {
  width: 30%;
  height: 100%;
  float: left;
  border: 1px solid #d7dbdc;
  background: #e2e6e7;
}

div.file-manager-main-content {
  width: 69.6%;
  height: 100%;
  float: left;
  text-align: center;
}

div.file-manager-file-list-wrapper {
  overflow-y: scroll;
  height: inherit;
}

ul.file-manager-file-list {
  list-style: none;
  margin: 0;
  padding: 25px;
}

li.file-manager-panel {
  float: left;
  padding: 5px;
  max-width: 64px;
  word-break: break-all;
  position: relative;
  background: #fff;
  margin: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}
li.file-manager-panel.selected {
  border: 1px solid darkblue;
}
li.file-manager-panel.selected:before {
  content: "\2611";
  right: 0;
  bottom: 0;
  color: darkblue;
  position: absolute;
  font-size: 11pt;
  line-height: 9pt;
}

div.file-thumbnail img {
  width: 100%;
max-height: 40px;
}

div.file-thumbnail i {
  font-size: 48px;
  display: none;
}

li.file-manager-panel.upload-btn {
  font-size: 40px;
  line-height: 64px;
  padding: 20px;
}
li.file-manager-panel.upload-btn a{ 
  color: #BABABA;
}

input#file {
  display: none;
}

.file-manager-search-input-container {
  display: none;
}
.file-manager-search-input-container input{
  float: right;
  position: relative;
  margin-top: -31px;
  margin-right: 7px;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
  font-size: 12px;
  padding: 5px;
}

li.file-manager-panel .file-title{
  font-size: 12px;
  color: #BABABA;
  max-height: 50px;
  overflow: hidden;
  height: 50px;
}

.file-manager-file-api-btn{
  color: #C2C2C2!important;   
  font-size: 0.8em;
text-transform: uppercase; 
}

.file-manager-header .tabs{
  padding: 0;
  list-style: none;
  margin: 0;
}

.file-manager-header .tabs li{
  display: inline-block;
  background: #FFF;
  padding: 10px 15px;
  margin-left: -4px;
}
.file-manager-header .tabs li:first-child{
  margin-left: 0;
}
.file-manager-header .tabs li.current{
  background: #66ccce;  
}
.file-manager-header .tabs li.current a{
  color: #FFF!important;
}
.file-manager-header .toolbars{
width: 100%;
height: 35px;
border-top: solid 1px #DBE2E4;
background: #E6EBEC;
}

.file-manager-header .toolbars ul{
  margin: 3px;
  padding: 0;
  list-style: none;
}
.file-manager-header .toolbars li{
  display: inline-block;
  font-size: 1.5em;  
  line-height: 1em;
  width: 30px;
text-align: center;
}
.file-manager-header .toolbars li.separator {
  border-left: 1px solid #D6DDDF;
  height: 20px;
  width: 0px;
  margin: 0 2px;
}
.file-manager-header .toolbars li.tools {
  float: right;
}
.file-manager-header .toolbars li:hover{
  background: #F7FBFC;
  color: #66CCCE;
}
.file-manager-header .toolbars li:hover span{
  color: #66CCCE;
}

.file-manager-header .toolbars li [class^="icon-"], [class*=" icon-"]{
  line-height: 1.1em;
}