{{! Default settings contains default settings for a widget }}
<div class="setting-body">
    <div class="setting-description">
        Double click the text box to add and edit your content or click Edit Text. To change your site’s font scheme go to Design > Fonts.
    </div>

    <div class="setting-body-input-group">
        <a href="javascript:;" class="text-setting-edit-text-btn btn primary-btn">Edit Text</a>
    </div>

    <div class="setting-body-input-group">
        <a href="javascript:;" class="text-setting-add-animation-btn btn primary-btn">Add Animation</a>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" id="show_on_all_pages" value="{{show_on_all_pages}}"> Show on All Pages
        </label>
    </div>
    
    <div class="setting-body-input-group">
        <div class="text-setting-position-input-wrapper">
            <label for="left">x</label><input type="text" id="left" class="text-setting-position-input input-box" value="{{position_left}}">
            <label for="top">y</label><input type="text" id="top" class="text-setting-position-input input-box" value="{{position_top}}">
        </div>
        <div class="text-setting-size-input-wrapper">
            <label for="width">w</label><input type="text" id="width" class="text-setting-size-input input-box" value="{{width}}">
            <label for="height">h</label><input type="text" id="height" class="text-setting-size-input input-box" value="{{height}}">
        </div>
    </div>
</div>
